* {
	font-family: monospace;
	background: #282828;
}
h1, h2 {
	color: #1EC9C1;
	text-align: center;
}

h3, h4, hr, b {
	color: #1EC9C1;
}

p {
	color: #FBF1C7;
}

a:link, a:visited {
  color: #1EC9C1;
}

/*a:hover {
  color: hotpink;
}*/

/*a:active {
  color: blue;
}*/

ol, ul {
	color: #1EC9C1;
}
