* {
	font-family: monospace;
	background-image: url("./wallpaper.jpg"); /* background: #282828; */
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

h1 {
	color: #00FF00;
	text-align: center;
}

p {
	color: #FBF1C7;
}
